.container {
  --delta: 3%;
  --blur-factor: 124px;
  --deltaX: 0%;
  --deltaY: 0%;

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .blobsCard {
    position: relative;
    overflow: hidden;
    width: 80vw;
    height: 920px;
    background: radial-gradient(
        76.71% 76.71% at 10.85% 23.29%,
        rgba(255, 205, 159, 0.2) 0%,
        rgba(255, 255, 255, 0) 100%
      )
      radial-gradient(
        55.97% 55.97% at 84.33% 44.03%,
        rgba(255, 205, 159, 0.2) 0%,
        rgba(255, 255, 255, 0) 100%
      )
      radial-gradient(
        81.18% 81.18% at 79.77% 18.82%,
        rgba(226, 255, 238, 0.2) 0%,
        rgba(255, 255, 255, 0) 100%
      )
      radial-gradient(
        91.58% 91.58% at 90.36% 8.42%,
        rgba(226, 255, 238, 0.2) 0%,
        rgba(255, 255, 255, 0) 100%
      )
      radial-gradient(
        61.35% 61.35% at 57.6% 38.65%,
        #ffc1fd 0%,
        rgba(255, 255, 255, 0) 100%
      );

    background-color: white;

    border-radius: 8px;

    .blob {
      position: absolute;
      transform: translate(-50%, -50%);
      filter: blur(var(--blur-factor));
      transition: 1s;
    }
  }
}
